@mixin MFlexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin ImgWidthHeight600 {
    width: 600px;
    height: 600px;
}

.Main2{
    .S1{
        display: flex;
        justify-content: space-between;
        margin: 24px 64px 0px;
        .Main_img1{
            @include ImgWidthHeight600;
        }
        .S1List{
            width: 600px;
            align-self: center;
            .S1HighWords{
                margin-bottom: 16px;
                h4{
                    color: var(--orange-elipse-color);
                    margin-bottom: 24px;
                }

            }
            .S1Content{
                margin-top: 16px;
                display: flex;
                .Content1{
                    margin-right: 12px;
                    .Elipse1{
                        margin-left: 8px;
                    }
                    .Reason{
                        margin: 16px 0px;
                    }
                }
                .Content2{
                    margin-left: 12px;
                    .Elipse2{
                        margin-left: 8px;
                    }
                    .Reason{
                        margin: 16px 0px;
                    }
                }
            }
        }
    }

    .S2{

        .S2List{
            display: flex;
            justify-content: center;
            margin: 88px 24px;
            flex-wrap: wrap;
            .S2Content{
                margin: 24px;
                width: 350px;
                .Avatar{
                    .AvatarContent{
                        margin-bottom: 12px;
                        @include MFlexColumnCenter;
                        justify-content: center;
                        .AvatarImg{
                            height: 56px;
                            width: 56px;
                            margin-bottom: 8px;
                        }
                        .AvatarContentList{
                            margin-top: 8px;
                            @include MFlexColumnCenter;
                            .AvatarName{
                                .AvatarNameP{
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                .AvatarInfo{
                    margin-top: 12px;
                    p{
                        text-align: center;
                    }
                }
            }
        }
    }
    

    .S3{
        display: flex;
        margin: 24px 64px 64px;
        justify-content: space-between;       
        .S3List{
            width: 600px;
            align-self: center;
            .S3HighWords{
                margin-bottom: 16px;
                h4{
                    color: var(--orange-elipse-color);
                    margin-bottom: 24px;
                }

            }
            .S3Content{
                margin-top: 16px;
                display: flex;
                .Content3{
                    margin-right: 12px;
                    .Elipse3{
                        margin-left: 8px;
                    }
                    .Reason{
                        margin: 16px 0px;
                    }
                }
                .Content4{
                    margin-left: 12px;
                    .Elipse4{
                        margin-left: 8px;
                    }
                    .Reason{
                        margin: 16px 0px;
                    }
                }
            }
        }
        .Main_img2{
            @include ImgWidthHeight600;
        }
    }
}