@mixin MFlexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main{

    .MainClientsSection{
        @include MFlexCenterCenter;
        flex-direction: column;

        margin-top: 128px;
        h4{
            text-align: center;
        }
        .MainClientsList{
            margin: 48px 64px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                height: 184px;
                width: 184px;
                // border: 1px solid black;
                margin: 20px 40px;
                @include MFlexCenterCenter;
            }
        }
    }
    .DownloadAppSection{
        background-image: linear-gradient(to left, #B35911, #D48C04);
        .DownloadAppList{
            padding: 64px;
            display: flex;
            justify-content: space-between;
            .DownloadAppLiInfo{
                width: 500px;
                h2{
                    color: var(--white-download-color);
                    margin-bottom: 8px;
                }
                p{
                    color: var(--white-download-color);
                    margin-top: 8px;
                }
            }
            .DownloadAppLiApps{
                img{
                    margin-left: 16px;
                }
            }
        }
    }
}
