.Footer{
    background-color: #4B4B4B;
    .FooterList1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 80px 32px;


        .FooterNav{
            .NavSection{
                display: flex;
                flex-direction: column;
                a{
                    color: #FFFFFF;
                    font-weight: bolder;
                }
            }
        }
    }
    .FooterList2{
        display: flex;
        justify-content: space-between;
        margin: 32px 80px 0px;
        padding-top: 33px;
        padding-bottom: 60px;
        border-top: 1px solid #000;
        .OtherLinks{
            a{
                color: #F3F3F3;
            }        
        }
        .By{
            .IDK{
                color: #F3F3F3;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .Footer{
        .FooterList1{
            flex-wrap: wrap;
            .Social{
                display: flex;
            }
            .FooterNav{
                width: 100%;
                .NavSection{
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        }

        .FooterList2{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .OtherLinks{
                display: flex;
                .TermsOfService{
                    margin: 0px 10px;
                }
            }
            .By{
                margin-top: 24px;
            }
        }
    }
}

@media screen and (max-width: 612px) {
    .Footer{
        .FooterList1{
            padding: 80px 60px 32px;
        }
    }
}


@media screen and (max-width: 600px) {
    .Footer{
        .FooterList1{
            flex-direction: column;
            padding: 60px 40px 24px;
            justify-content: center;
            align-items: center;
            .Social{
                display: flex;
                margin-bottom: 36px;
            }
            .FooterNav{
                .NavSection{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .Features{
                        margin: 8px 0;
                    }
                }
            }
        }

        .FooterList2{
            margin: 24px 40px 0px;
            .OtherLinks{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .TermsOfService{
                    margin: 24px 0px;
                }
            }
            .By{
                margin-top: 24px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .Footer{
        .FooterList1{
            padding: 40px 20px 16px;
        }
        .FooterList2{
            padding: 16px 20px 32px;
        }
    }
}