@import "./Header/Header1";
@import "./Header/Header2";

@mixin HColumnCenterCenter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin HTextCenter {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .Header{
        background-position: left;
        .NavBlock{
            .NavBlockSection{
                
                .NavList{
                    a{
                        padding: 12px 8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .Header{
        background-position: left;
        .NavBlock{
            .NavBlockSection{
                .LogoList{
                    margin: 6px 0;
                }
                .NavList{
                    a{
                        padding: 6px 4px;
                    }
                    .Clients,
                    .DownloadApp{
                        width: 0;
                        height: 0;
                        opacity: 0;
                    }
                }
            }
        }
        .HeaderBlock{
            width: 70%;
            margin: 0px;
            margin-left: 15%;
            padding: 140px 0px;
            display: flex;
            @include HColumnCenterCenter;
            .HeaderBlockTexts{
                // width: 400px;
                h1{
                    @include HTextCenter;
                }
                p{
                    @include HTextCenter;
                }
            }
            .ContactUs{
                width: 85px;
            }
        }
    }
}
