:root {
    --orange-elipse-color: #DF8928;
    --footer-List2-color: #F3F3F3;
    --total-black-color: #000;
    --F6-white-color: #FFFFFF;
    --orange-button-color: #C4730A;
    --brown-header-color: #612B00;
    --white-download-color: #FCF6F0;
    --grey-footer-color: #4B4B4B;
}